* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  font-family: sans-serif;
}
.flags {
  max-width: 100vx;
  height: 20px;
  background: linear-gradient(rgb(0, 102, 255),#014E82);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  width: 20px;
  margin: 0 5px 0 0;
  background: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
}
button img {
  width: 100%;
}
header {
  background-color: #026EAF;
  max-width: 100vx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nombre {
  color: white;
  font-size: 2rem;
  padding: 10px;
}
.foto {
  width: 35%;
  height: auto;
  margin: 10px 0 0 0;
}
.foto img {
  width:100%;
  border: 5px solid white;
}
main {
  max-width: 100%;
  min-height: 100vh;
  background-color: #002E52;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.articulo-final {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-bottom: 5px;
}
h3 {
  padding: 10px 0 0 0;
  color: orange;
  text-shadow: 2px 2px 9px black;
}
h4 {
  padding: 5px 0 10px 0;
  color: beige;
}
.dtPersonales {
  width: 95%;
  height: auto;
  border-radius: 0.75rem;
  background: linear-gradient(rgb(0, 102, 255),#014E82);
  margin-top: 5px;
}

.cards {
  padding: 10px;
}
.titulo {
  text-align: center;
}
.contenido {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: .9rem;
}
span {
  display: flex;
  align-items: center;
}
span img {
  width: 8%;
  margin: 0 5px 0 -5px;
}
.redes {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.icoRedes img {
  width: 55%;
}
a {
  margin-right: -10px;
}
.secciones {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
}
section {
  border-bottom: 1px solid grey;
  border-radius: 0 0 30px 30px;
  padding-bottom: 5px;
}
article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articulo {
  display: flex;
  flex-direction: column;
}
.articulo ul {
  padding-bottom: 10px;
}
ul {
  margin-left: 20px;;
}
li {
  margin-top: 10px;
}
footer {
  background-color: rgb(114, 109, 109);
  width: 100;
  height: 40px;
  color: white;
  padding: 10px;
  font-size: .8rem;
  
}

.imagenP {
  width: 40%;
}
.imagenP img {
  width: 100%;
  padding: 10px;
}
.cardsP {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descipcionP {
  width: 60%;;
}
.btn-ico {
  width: 60%;
  padding: 10px 0;
}
.btn-ico:hover {
  filter: drop-shadow(3px 3px 5px white);
}
@media screen and (min-width:600px) {
  header {    
    flex-direction: row;
  }
  .foto {
    width: 20%;
    margin: 10px;
  }
  .nombre {
    font-size: 4rem;
  }
  main {    
    align-items: flex-start;
    vertical-align: middle;
  }
  article {
    width: 45%;
    align-items: flex-start;
    
  }
  .articulo {
    justify-content: space-between;
  }
  .secciones {
    flex-direction: row;
  }
  section {
    width: 100%;
  }
  .contendorExLab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  
}
